dl {
	margin-top: 0;
	margin-bottom: 10px;
}

.dl-horizontal dt {
	float: left;
	width: 100px;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dl-horizontal dd {
	margin-left: 140px;
}

:not(button):valid {
   box-shadow: 0 0 2px 1px #3c763d;
}

:not(button):invalid {
   box-shadow: 0 0 2px 1px #a94442;
}